body {
  margin: auto;
  background-color: rgba(225, 223, 186, 1);
  background-size: cover;
}

.container {
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  max-width: 1400px;
  margin: auto;
  background-color: #ddd;
}

.fontwhite {
  color: #ffffff;
}

.navi {
  justify-content: center;
  display: flex;
  width: 100%;
}

.navilogo {
  justify-content: space-between;
  display: flex;
}

.logoname {
  float: left;

}

.links {
  float: left;

}

.logonav {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  float: left;

}

.bignav {
  justify-content: space-evenly;
  overflow: hidden;
  background-color: #36292c;
  width: 100%;
  display: flex;
}

.logotext {
  justify-content: space-between;
  display: flex;
}

.button1 {
  float: right;
  margin-right: 10px;

}


.navbutton {
  border: none;
  background-color: #ff8f45;
  border-width: 1px;
  color: #36292c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
}


.buttoncontact {
  border: none;
  border-color: #ffffff;
  border-width: 1px;
  color: rgb(25, 25, 25);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #36292c;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.brand {
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headersimg {
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
}

.headers {
  margin: auto;
  align-items: center;
  display: flex;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  align-self: center;
  margin-top: 20px;
  background-color: #f2f2f2;
}

.table1 {
  width: 400px;
}

.table2 {
  width: 400px;
}

td,
th {
  border: 4px solid #000000;
  text-align: left;
  padding: 8px;
}

.albums {
  margin: auto;
  align-self: center;
  margin-top: 70px;
  max-width: 1000px;
}

.albumcontainer {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.albumname {
  color: rgb(92, 32, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.albumimg {
  margin: auto;
  width: 400px;
}

.albumdis {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 32, 0);
}

.navbuttonp {
  align-items: center;
  margin: auto;
  width: 2000px;
  display: flex;
  justify-content: center;

}

.navbutton {
  border: none;
  background-color: #ff8f45;
  border-width: 1px;
  color: rgb(25, 25, 25);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
}
.orange {
  color: rgb(242, 127, 56);
  font-size: 10px;
}





.navbuttonp {

  display: flex;

  justify-content: center;
}

.navbutton {
  border: none;

  border-width: 1px;
  color: rgb(25, 25, 25);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 50px;
}

.topnav {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.brand {
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-top: 50px;
  margin-left: 30px;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #36292c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #36292c;
  color: black;
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
      display: none;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
      position: relative;
  }

  .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
  .headersimg {
    width: 300px;
  }
  .albumimg {
    width: 300px;
  }
}

a:link {
  background-color: #ff812c;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: red;
}


#icons {
  margin-left: 0px;
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  width: 400px;
  font-size: 14px;
}

.fa-stack-1x {
  color: white;
}

.icon {
  color: #EF6D58;
  padding: 5px;
}


@import url(https://fonts.googleapis.com/css?family=Raleway);

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #36292c;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 100px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
      display: flex;
  }

  .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

  #menu-toggle~.menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
  }

  .menu>li:not(:last-child) {
      border-bottom: 1px solid #444;
  }
}

.logoimg {
  width: 60px;
  margin-top: 30px;

}

.navbutton2 {
  border: none;
  border-width: 1px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #36292c;
}