#container {
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

body {
    margin: auto;
    background-color: rgb(54, 53, 53);
    background-image: url('../img/4278478.jpg');
    background-blend-mode: darken;
    background-blend-mode: darken;
    background-size: 200px;
}

.logo1 {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 23px;
}
.logo1img{
    height: 120px;
}

.menu1 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 65px;
    width: 100%;
}

.menu1 .icon {
    display: none;
}

i {
    color: #eee;
}

.menu1 a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 30px;
    background-color: rgb(125, 125, 125);
}

.menu1 a.active {
    background-color: #ff0000db;
    color: rgb(255, 255, 255);
}

.menu1 a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
 

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007a9c;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(0, 0, 0);
}

.overlay h1 {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #fff5ea;
    margin-top: 30px;
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
  }
.contactform{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-image: url("../images/form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-blend-mode: color-burn;
}

.blur{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
}

fieldset{
    color: #ffffff;
}

legend{
    font-size: 30px;
    font-weight: 700;
}

input{
    padding: 5px;
    border-style: solid;
    border-color:#0000008f;
    border-radius: 2px;
    background-color: #fff5ea;
}

.submitbtn input{
    padding: 10px;
    width: 100px;
    border-radius: 2px;
    border-color:#0000008f;
    background-color: #fff5ea;
    color: #54410C;
    font-weight: 550;
}

.submitbtn input:hover{
    background-color: #000000df;
    color:#FFFDF8;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7a1818;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer img {
    margin-top: 20px;
}
 
.footermenu{
    background-color: #7a1818;
}

.footermenu a{
    text-decoration: none;
    color: white;
}

.footermenu a:hover{
    color: #000000;
}

.contact {
    margin-top: 10px;
}

.contact img{
    width: 40px;
    margin: 5px;
}



@media screen and (max-width: 700px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 90px;
    }

    .menu1 {
        flex-direction: column;
    }

    .menu1 a:not(:nth-child(5)) {
        display: none;
    }

    .menu1 a.icon {
        display: block;
        position: absolute;
        right: 0;
    }

    .menu1.responsive a {
        display: block;
    }
    
    .btn{
        right: 30px;
    }

    .barista{
        align-items: center;
        width: 100%;
    }

    .topbox{
        flex-direction: column;
    }

    .btmbox{
        flex-direction: column;
    }

    .box{
        width: 90%;
        height: 480px;
    }

    .box img{
        width: 300px;
        height: 210px;
    }

    .reminder{
        flex-direction: column;
    }

    .reminder img{
        width: 400px;
        height: 300px;
    }
}