#container {
    background-color: #000000;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    
    
  }
  
  .header {
    background-image: url("../img/1400x800sr-60.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(20, 114, 173);
    text-align: center;
    padding: 10px;
    
  }


  h1{
      margin-top:1px;
  }



  /* The navbar container */
.topnav {
    display: flex;
    background-color: rgb(205, 214, 78);
    justify-content:space-between;
  }
  
  /* Navbar links */
  .topnav a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: rgb(86, 241, 86);
    color: black;
    text-decoration: underline;
  }
  .push {
    margin-left: auto;
  }







  /* Row */
.row {
    display:flex;
    background-color: rgb(249, 129, 129);
    text-align: center;
  }
  
  /* Column */
  .column {
    width: 20%;
    flex-wrap: wrap;
   
  }
  
  #columnwide {
    width: 60%;
    flex-wrap: wrap;
  }

  






  .row2 {
    display:flex;
    background-color: rgb(0, 217, 255);
    text-align: center;
    margin-top: 8px;
  }
  /* Column */
  .column2 {
    width: 25%;
    flex-wrap: wrap;
   
  }





  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .row {
    flex-wrap: wrap;
    }
    .row2 {
      flex-wrap: wrap;
      }
    .column {
    width: 50%;
    }
    .column2 {
      width: 50%;
      }
  }

  
  @media screen and (max-width: 480px) {
    .row {
      flex-wrap: wrap;
      }
      .row2 {
        flex-wrap: wrap;
        }
    .column {
    width: 100%;
    }
    .column2 {
      width: 100%;
      }
  }
  