
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1200px;
    padding:10px ;
  }

.purple{
    background-color: rgba(208,201,224,255);
    color: rgba(97,70,148,255);
    border: 3px solid rgba(97,70,148,255);
    text-align: center;
    width: 150px;
    height: 150px;

}
.lblue{
    background-color: rgba(188,222,239,255);
    color: rgba(5,140,192,255);
    border: 3px solid rgba(5,140,192,255);
    text-align: center;
    width: 150px;
    height: 150px;

}
.dblue{
    background-color: rgba(177,209,225,255);
    color: rgba(0,89,125,255);
    border: 3px solid rgba(0,89,125,255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.dgreen{
    background-color: rgba(212,213,192,255);
    color: rgba(90,98,28,255);
    border: 3px solid rgba(90,98,28,255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.lgreen{
    background-color: rgba(227,228,205,255);
    color: rgba(153,160,61,255);
    border: 3px solid rgba(153,160,61,255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.sblue{
    background-color: rgba(204,233,231,255);
    color: rgba(0,169,161,255);
    border: 3px solid rgba(0,169,161,255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.red{
    background-color: rgba(241,207,213,255);
    color: rgba(186,14,46,255);
    border: 3px solid rgba(186,14,46,255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.default{
    background-color: rgb(200, 248, 255);
    text-align: center;
    width: 150px;
    height: 150px;
}
.default2{
    background-color: rgb(204, 204, 204);
    text-align: center;
    width: 150px;
    height: 150px;
}

  